<% if @list.nil? %>
  <div class="text-center list-box">
    <h4>Time to get orginized!</h4>
    <%= link_to "New To-do List", new_list_path, class: 'btn btn-success' %>
  </div>
<% else %>
  <div class="text-center list-box">
    <h4><%= @list.title %></h4>
    <small><%= link_to "Edit", edit_list_path(@list) %></small>
  </div>
  <div class='row'>
    <table class="table table-striped">
      <tr><%= render partial: 'items/item', collection: @items %></tr>
      <tr><%= render "items/form" %></tr>
    </table>
  </div>

<% end %>
